@media print
  a[href]:after
    content           none

  .lawsuit.panel
    page-break-inside avoid
    margin-bottom     2px
    border            none !important

    .panel-body
      padding         2px

  